.Discussion {
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 10%;

    h1 {
        padding: 0 5%;
        font-size: 2rem;
        line-height: 2;
    }

    section {
        padding: 3%;
        background-color: rgb(83, 150, 189);
        border-radius: 10px;
        margin: 0;
        height: 70vh;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: rgb(83, 150, 189);
        }

        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    }
}