.Discussion {
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 10%;

    h1 {
        padding: 0 5%;
        font-size: 2rem;
        line-height: 2;
    }

    section {
        padding: 3%;
        background-color: rgb(83, 150, 189);
        border-radius: 10px;
        margin: 0;
    }
}